
<h1>ととのいログ</h1>

<table>
  <thead>
    <tr>
      <th>サウナ時間</th>
      <th>水風呂時間</th>
      <th>外気浴時間</th>

    </tr>
  </thead>

  <tbody>
    <% @timers.each do |timer| %>

      <tr>
        <td><%= (timer.sauna_finish_time - timer.sauna_start_time).ceil %>秒</td>
        <td><%= (timer.water_finish_time - timer.water_start_time).ceil %>秒</td>
        <td><%= (timer.outside_finish_time - timer.outside_start_time).ceil %>秒</td>
        <td><%= link_to 'Show', timer %></td>
        <td><%= link_to 'Destroy', timer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
