<p>outside start</p>
<p>水風呂と外気浴の間</p>
<p>タオルで体をよく拭くと、ととのいやすくなります</p>


<%= form_for @timer, url: update4_timer_path(@timer) do |form| %>
  <% if @timer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timer.errors.count, "error") %> prohibited this timer from being saved:</h2>

      <ul>
        <% @timer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="actions">
    <%= hidden_field_tag :outside_start_time, DateTime.now %>
    <%= form.submit "外気浴を始める"%>
  </div>
  <% end %>