<p>water start</p>
<p>さうなと水風呂の間の時間</p>

<%= form_for @timer, url: update2_timer_path(@timer) do |form| %>
  <% if @timer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timer.errors.count, "error") %> prohibited this timer from being saved:</h2>

      <ul>
        <% @timer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="actions">
    <%= hidden_field_tag :water_start_time, DateTime.now %>
    <%= form.submit "水風呂に入る"%>
  </div>
  <% end %>