<html>
<%= form_with(model: sauna, local: true) do |form| %>
  <% if sauna.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sauna.errors.count, "error") %> prohibited this sauna from being saved:</h2>

      <ul>
        <% sauna.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field text-center">
    <%= form.label "サウナ名" %>
    <%= form.select :name,
    {'NewJapan梅田': 'NewJapan梅田',
    'サウナ&スパ カプセルホテル 大東洋': 'サウナ&スパ カプセルホテル 大東洋',
    'サウナ&カプセル アムザ': 'サウナ&カプセル アムザ',
    'なにわ健康ランド 湯〜トピア': 'なにわ健康ランド 湯〜トピア', 
    'ユートピア白玉温泉': 'ユートピア白玉温泉' ,
    }, { include_blank: '選択してください'} %>
  </div>

  <div class="field text-center">
    <%= form.label "サウナ温度" %>
    <%= form.number_field :sauna_temperature %>
  </div>

  <div class="field text-center">
    <%= form.label "サウナ湿度" %>
    <%= form.number_field :sauna_humidity %>
  </div>

  <div class="field text-center">
    <%= form.label "水風呂水温" %>
    <%= form.number_field :water_temperature %>
  </div>

  <div class="actions text-center">
    <%= form.hidden_field :user_id, value: current_user.id %>
    <br>
     <p class="text-center "><%= form.submit "登録する" , class: " btn btn-malformation btn-outline-danger" %></p>
  </div>
<% end %>
<style>
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}



.btn,
a.btn,
button.btn {
  font-size: 2.0rem;
  font-weight: 500;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

</style>

</html>