<!doctype html>
<html lang="jp">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Sauna show</title>
  </head>

  <body>

<h2 class="text-center"> "<%= @sauna.name %>"</h2>
<p class="text-center">温度:<%= @sauna.sauna_temperature %>度 湿度:<%= @sauna.sauna_humidity %>% 水温:<%= @sauna.water_temperature %>度</p>



 <% tc =  (50000 - 5000 * ( 3 ) ) %>
 <% ft =  37 - ((37- @sauna.sauna_temperature ) / ( 1.25 - 0.0014 * @sauna.sauna_humidity )) -0.29 * @sauna.sauna_temperature * ( 1 - ( @sauna.sauna_humidity / 100 ) ) %>
 <% ist = tc / ft %>
 <% iwt = tc /(( 36.5 - @sauna.water_temperature  ) * ( ft - @sauna.water_temperature )) %>


<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card  b-color1">
      <img src="/sauna.png" class="card-img-top image_size_m0" alt="sauna" style="display: block; margin: auto;">
      <div class="card-body">
        <h5 class="card-title text-center">疲労度平均時　理想サウナ時間</h5>
        <h2 class="card-text text-center"> <%= ist.floor %>秒</h2>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card  b-color2" >
      <img src="/water.png" class="card-img-top image_size_m " alt="water" style="display: block; margin: auto;" >
      <div class="card-body">
        <h5 class="card-title text-center">疲労度平均時　理想水風呂時間</h5>
        <h2 class="card-text text-center ">  <%= iwt.floor  %>秒</h2>
      </div>
    </div>
  </div>
</div>



<br>
<h3 class="text-center"><%= link_to 'Back', saunas_path %></h3>


  </body>
  <style>
.image_size_m0{
	width: 120px;
	height: 150px;
  padding-top: 10px;
}
  .image_size_m{
	width: 150px;
	height: 150px;	
}
div.b-color1 {
 border-color: red;
 border-style: solid;
  border-width: 2px;
}
div.b-color2 {
 border-color: blue;
 border-style: solid;
 border-width: 2px;
}
  </style>
</html>