<h2><%= resource_name.to_s.humanize %> 様　登録情報変更 </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :名前 %><br/>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
  <%= f.label :疲労度 %><br />
  <%= f.select :condition, [ ["もう立ってるのが限界です",1], ["いつもよりも疲れてます", 2], ["いつも通り疲れてます", 3 ] ,["なんかいつもより元気かも", 4], ["これ元気と言わずなんという？", 5] ], prompt: "疲労度を選択して下さい" %>
  </div>



  <div class="field">
    <%= f.label :current_password %>変更にはパスワードを入力してください<br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>

<h3>アカウント削除</h3>
<p>ととのえませんでしたか？ <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当にアカウントを削除しますか？" }, method: :delete %></p>

<%= link_to "Back", :back %>
