<h2><%= resource_name.to_s.humanize %>様　登録情報</h2>

  <div class="field">
    <%= current_user.name %>
  </div>

  <div class="field">
    <%= current_user.email %>
  </div>

  <div class="field">
    <%= current_user.condition %>
  </div>

<%= link_to '編集', edit_user_registration_path %> |
<%= link_to 'Back', root_path %>

